.Bouton{
    position: absolute;
    top: 10%;
    right: 10%;
    transform: translate(-50%,-50%);
    color: #fff;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer; 
}